@import '../../constants';

.main-container {
  display: flex;
  flex-direction: column;
  flex: 1;
  background-color: $PRIMARY_BACKGROUND;

  .wrapper {
    display: flex;
    flex-direction: row;
    background: url("../../assets/images/background.png") no-repeat center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    flex: 1;
    justify-content: center;
    position: relative;
    align-items: center;
    & > div:not(:last-child) {
      padding: 12px 24px
    }
    & .inner-wrapper {
      & > div {
        padding: 12px 24px
      }
    }
    .second-wrapper {
      display: flex;
      flex-direction: column;
    }
  }

  @media all and (max-width: 720px) {
    .wrapper {
      flex-direction: column;
    }
  }
}
