@import "../../constants";

.wrapper {
  & .home-wrapper {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    flex: 1;
    min-height: calc(100vh - 48px);
    background: url("../../assets/images/background.png") no-repeat center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    position: relative;
    & > div:not(:last-child) {
      padding: 12px 24px;
    }
    & .inner-wrapper {
      & > div {
        padding: 12px 48px;
      }
    }
    .second-wrapper {
      display: flex;
      flex-direction: column;
    }
  }

  & .home-popular-products-container {
    flex: 1;
    align-self: stretch;
    display: flex;
    flex-direction: column;
    min-height: 460px;
    background-color: $PRIMARY_BACKGROUND;
    padding: 0 64px;
    margin-top: 32px;
    z-index: 2;
    position: relative;
    & > .carousel-container {
      width: 100%;
    }
  }
}

@media all and (max-width: 720px) {
  .wrapper {
    flex-direction: column;
    & .home-wrapper {
      flex-direction: column;
      & > div:not(:last-child) {
        padding: 12px 0px;
      }
      & .inner-wrapper {
        & > div {
          padding: 12px 0px;
        }
      }
    }
  }
}
