@import "../../constants";

.dropdown-menu-item {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  font-size: 0.72rem;
  letter-spacing: 1px;
  text-transform: uppercase;
  margin: 2px 0;
  min-height: 42px;
  padding: 0 36px;
  color: $SECONDARY_TEXT;
  cursor: pointer;
  -webkit-transition: all 150ms ease;
  -moz-transition: all 150ms ease;
  -o-transition: all 150ms ease;
  transition: all 150ms ease;
  & .remove-bag-item {
    padding: 12px;
    &:hover > svg {
      & > path {
        &:last-child {
          fill: rgba(0, 0, 0, 0.84);
        }
      }
    }
  }
  &:hover {
    background-color: $SECONDARY_BACKGROUND;
    -webkit-transition: all 150ms ease;
    -moz-transition: all 150ms ease;
    -o-transition: all 150ms ease;
    transition: all 150ms ease;
  }
}
