@import "../../constants";

.my-account-wrapper {
  display: flex;
  flex: 1;
  flex-direction: column;
  justify-content: flex-start;
  align-self: stretch;
  overflow: hidden;
  position: relative;
  &:before {
    position: absolute;
    content: "";
    width: 200%;
    height: 100%;
    background-color: $TERTIARY_BACKGROUND;
    z-index: 0;
    transform: translateX(32%) skew(-42deg);
  }
  & .my-account-menu-container {
    position: relative;
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
    max-height: 60px;
    &:before {
      position: absolute;
      content: "";
      width: 100%;
      height: 200%;
      bottom: 0;
      background-color: $ORANGE_BACKGROUND;
      transform: rotate(-1deg);
    }

    & .my-account-menu-wrapper {
      display: flex;
      flex-direction: row;
      justify-content: center;
      position: relative;
      background-color: $PRIMARY_BACKGROUND;
      padding: 12px 0;
      & > div {
        font-size: 0.72rem;
        color: $PRIMARY_TEXT;
        letter-spacing: 2px;
        position: relative;
        cursor: pointer;
        text-transform: uppercase;
        padding: 16px 24px;
        width: 100%;
        display: block;
        min-width: 180px;
        text-align: center;

        &:after {
          position: absolute;
          content: '';
          left: 0;
          top: 50%;
          transform: translateY(-50%);
          width: 1px;
          height: 60%;
          background-color: $PRIMARY_BORDER_COLOR;
        }

        &:before {
          position: absolute;
          content: "";
          left: 50%;
          bottom: 2px;
          width: 0;
          height: 4px;
          transform: translateX(-50%);
          background-color: $TERTIARY_BACKGROUND;
          -webkit-transition: all 250ms ease-in-out;
          -moz-transition: all 250ms ease-in-out;
          -o-transition: all 250ms ease-in-out;
          transition: all 250ms ease-in-out;
        }

        &:hover {
          &:before {
            width: 40%;
            -webkit-transition: all 250ms ease-in-out;
            -moz-transition: all 250ms ease-in-out;
            -o-transition: all 250ms ease-in-out;
            transition: all 250ms ease-in-out;
          }
        }

        &.active-menu-item {
          &:before {
            position: absolute;
            content: "";
            left: 50%;
            bottom: 2px;
            width: 40%;
            height: 4px;
            transform: translateX(-50%);
            background-color: $TERTIARY_BACKGROUND;
          }
        }
      }
    }
  }
  & .my-account-content-container {
    display: flex;
    flex: 1;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    z-index: 0;

    .my-account-content {
      padding: 64px;
      max-width: 920px;
      min-height: 480px;
      position: relative;
      display: flex;
      flex-direction: column;
      flex: 1;
      z-index: 1;
      &:before {
        position: absolute;
        content: "";
        width: 100%;
        height: 100%;
        left: 0;
        top: 0;
        background-color: $PRIMARY_BACKGROUND;
        transform: translateX(100px) skew(-15deg);
        z-index: -1;
      }

      &.show-my-account {
        animation: animate-show-account 1s forwards;
        opacity: 0;
        animation-delay: 1s;
        height: 0;
      }

      &.hide-my-account {
        display: none;
      }

      & .spinner-container {
        flex: 1;
        flex-direction: column;
        display: flex;
        align-items: center;
        justify-content: center;
      }

      &.my-profile-content {
        max-width: 550px;

        & .profile-image-container {
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;
          margin: 24px 0;
          & .image-upload-container {
            width: 160px;
            height: 160px;
            border-radius: 80px;
            background-color: #f0f0f0;
            overflow: hidden;
            position: relative;
            -webkit-box-shadow: 0px 0px 21px -13px rgba(0,0,0,0.75);
            -moz-box-shadow: 0px 0px 21px -13px rgba(0,0,0,0.75);
            box-shadow: 0px 0px 21px -13px rgba(0,0,0,0.75);
            & .image-loading-container {
              position: absolute;
              left: 0;
              top: 0;
              display: flex;
              flex-direction: column;
              justify-content: center;
              align-items: center;
              background-color: rgba(0, 0, 0, 0.12);
              width: 100%;
              height: 100%;
            }
            & > .empty-image-container {
              display: flex;
              flex-direction: column;
              justify-content: center;
              align-items: center;
              position: absolute;
              left: 0;
              top: 0;
              width: 100%;
              height: 100%;
            }
            & > .image-upload-actions {
              position: absolute;
              left: 0;
              top: 0;
              width: 100%;
              display: flex;
              flex-direction: row;
              justify-content: center;
              align-items: flex-end;
              padding-bottom: 32px;
              cursor: pointer;
              background: rgb(0,0,0);
              background: linear-gradient(0deg, rgba(0,0,0,1) 0%, rgba(0,202,255,0) 50%);
              height: 100%;
              -webkit-transform: translate3d(0, 10px, 0);
              -moz-transform: translate3d(0, 10px, 0);
              -o-transform: translate3d(0, 10px, 0);
              transform: translate3d(0, 10px, 0);
              -webkit-transition: all 250ms ease-in-out;
              -moz-transition: all 250ms ease-in-out;
              -o-transition: all 250ms ease-in-out;
              transition: all 250ms ease-in-out;
              opacity: 0;
              & > button {
                color: $TERTIARY_TEXT;
                background-color: transparent;
                border: none;
                outline: none;
                font-size: 0.82rem;
                letter-spacing: 1px;
                cursor: pointer;
                &:hover {
                  text-decoration: underline;
                }
              }
            }
            &:hover {
              & > .image-upload-actions {
                opacity: 1;
                -webkit-transform: translate3d(0, 0, 0);
                -moz-transform: translate3d(0, 0, 0);
                -o-transform: translate3d(0, 0, 0);
                transform: translate3d(0, 0, 0);
                -webkit-transition: all 250ms ease-in-out;
                -moz-transition: all 250ms ease-in-out;
                -o-transition: all 250ms ease-in-out;
                transition: all 250ms ease-in-out;
              }
            }
            & > input[type='file'] {
              display: none;
            }
            & > img {
              width: 100%;
              height: 100%;
              object-fit: cover;
            }

          }
        }
      }

      & .human-id--row {
        flex: 1;
        font-size: 0.72rem;
      }

      & .delivery-status--row {
        flex: 2;
        font-size: 0.72rem;
        display: flex;
        flex-direction: row;
        justify-content: center;
        &.undetermined {
          color: $UNDERTERMINED_STATUS;
        }
        &.positive {
          color: $POSITIVE_STATUS;
        }
        &.negative {
          color: $NEGATIVE_STATUS;
        }
      }

      & .created--row {
        font-size: 0.82rem;
        flex: 3;
        display: flex;
        flex-direction: row;
        justify-content: center;
      }

      & .no-orders {
        font-size: 0.92rem;
        display: flex;
        flex-direction: column;
        color: $SECONDARY_TEXT;
        text-transform: uppercase;
        align-items: center;
        justify-content: center;
      }

      & .amount--row {
        flex: 1;
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
        color: $ALTERNATIVE_TEXT;
      }

      & .table-header {
        & > div {
          font-size: 0.92rem;
          color: $PRIMARY_TEXT;
        }
      }

      & .button-container {
        display: flex;
        flex-direction: row;
        flex: 1;
        margin-top: 32px;
        align-self: flex-end;
      }
    }
  }
}

@keyframes animate-show-account {
  0% {
    opacity: 0;
    height: 0;
  }
  20% {
    height: auto;
  }
  100% {
    height: auto;
    opacity: 1;
  }
}

@media all and (max-width: 780px) {
  .my-account-wrapper {
    & .my-account-content-container {
      & .my-account-content {
        padding: 12px;
        &:before {
          transform: translateX(0) ;
        }
      }
    }
  }
}
