.top-header-title-container {
  color: rgb(127, 127, 127);
  text-transform: uppercase;
  font-size: 0.72rem;
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  .demo-store-title {
    margin-left: 12px;
    margin-bottom: 4px;
  }
}
