@import '../../constants';

.button {
  min-width: 120px;
  max-width: 220px;
  display: flex;
  justify-content: center;
  margin: 0 1em;
  padding: 0.8em 1.2em;
  border: none;
  background: none;
  color: $TERTIARY_TEXT;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-size: 0.76rem;
  vertical-align: middle;
  position: relative;
  z-index: 1;
  cursor: pointer;
  -webkit-backface-visibility: hidden;
  -moz-osx-font-smoothing: grayscale;
  border-radius: 40px;
  -webkit-transition: color 0.3s;
  transition: color 0.3s;
  -webkit-transition-timing-function: cubic-bezier(0.75, 0, 0.125, 1);
  transition-timing-function: cubic-bezier(0.75, 0, 0.125, 1);
  height: 48px;
  border: 2px;

  &:focus {
    outline: none;
  }

  & > span {
    vertical-align: middle;
    padding-left: 0.35em;
  }
  &:hover {
    color: $SECONDARY_BUTTON_BACKGROUND;
  }

  &::before,
  &::after {
    content: '';
    z-index: -1;
    border-radius: inherit;
    pointer-events: none;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden;
    -webkit-transition: -webkit-transform 0.3s, opacity 0.3s;
    transition: transform 0.3s, opacity 0.3s;
    -webkit-transition-timing-function: cubic-bezier(0.75, 0, 0.125, 1);
    transition-timing-function: cubic-bezier(0.75, 0, 0.125, 1);
  }

  &::before {
    border: 2px solid $SECONDARY_BUTTON_BACKGROUND;
    opacity: 0;
    -webkit-transform: scale3d(1.2, 1.2, 1);
    transform: scale3d(1.2, 1.2, 1);
  }

  &::after {
    background: $SECONDARY_BUTTON_BACKGROUND;
    border: 2px solid $SECONDARY_BUTTON_BACKGROUND;
    color: $SECONDARY_BUTTON_BACKGROUND;
  }

  &:hover::before {
    opacity: 1;
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }
  &:hover::after {
    opacity: 0;
    -webkit-transform: scale3d(0.8, 0.8, 1);
    transform: scale3d(0.8, 0.8, 1);
  }
}

.loader {
  border: 2px solid #f3f3f3; /* Light grey */
  border-top: 2px solid #3498db; /* Blue */
  border-radius: 50%;
  width: 24px;
  height: 24px;
  animation: spin 800ms linear infinite;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}
