@import "../../constants";

.header-action-container {
  position: absolute;
  top: 47px;
  border-top: 1px solid $PRIMARY_BORDER_COLOR;
  right: 0;
  width: 100%;
  background-color: white;
  height: 82px;
  opacity: 0;
  transform: translateY(-100vh);
  transition: opacity 250ms;
  &.show-action {
    opacity: 1;
    transform: translateY(0);
    transition: opacity 250ms;
  }
}
