@import "../../constants";

.product-wrapper {
  display: flex;
  flex: 1;
  flex-direction: row;
  justify-content: flex-start;
  align-self: stretch;
  overflow: hidden;
  position: relative;
  &:before {
    position: absolute;
    content: "";
    width: 200%;
    height: 100%;
    background-color: $TERTIARY_BACKGROUND;
    z-index: 0;
    transform: translateX(35%) skew(-42deg);
  }
  & .product-description-container {
    flex: 1;
    flex-direction: column;
    display: flex;
    position: relative;
    justify-content: center;
    align-items: center;
    & .product-description-top {
      display: flex;
      flex-direction: column;
      align-items: center;
    }
    & .product-id {
      transform: translateX(80px);
      margin-top: 32px;
      letter-spacing: 1px;
      align-self: flex-start;
      font-size: 1.06rem;
      & > span {
        font-size: 1.08rem;
        text-decoration: underline;
      }
    }

    & .product-description-content {
      max-width: 65%;
      transform: translateX(-40px);
      margin-top: 32px;
      font-size: 1.06rem;
      letter-spacing: 1px;
    }
    & .product-sizes-container {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      max-width: 380px;
      margin-top: 48px;
      transform: translateX(-160px);
    }
    & .product-description {
      color: $PRIMARY_TEXT;
      min-width: 30vw;
      max-width: 80%;
      min-height: 60vh;
      padding: 36px;
      align-items: center;
      position: relative;
      display: flex;
      justify-content: space-between;
      flex-direction: column;
      &:before {
        position: absolute;
        content: "";
        width: 100%;
        height: 100%;
        left: 0;
        top: 0;
        background-color: $PRIMARY_BACKGROUND;
        transform: translateX(-10vw) skew(-35deg);
        z-index: 0;
      }

      &.show-product {
        animation: animate-show-product 1s forwards;
        opacity: 0;
        animation-delay: 1s;
        height: 0;
      }

      &.hide-product {
        display: none;
      }
      & > div {
        z-index: 1;
      }

      & .add-to-cart-button-container {
        margin-top: 48px;
        transform: translateX(-340px);
      }

      & .product-title-container {
        z-index: 4;
        & .product-title {
          font-size: 2.4rem;
          letter-spacing: 1px;
        }
        & .product-subtitle {
          margin-left: 24px;
          color: $SECONDARY_TEXT;
          font-size: 1.4rem;
          letter-spacing: 1px;
        }
      }
    }
  }

  & .product-image-container {
    flex: 1;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    display: flex;

    & .product-image-inner-container {
      flex: 10;
      display: flex;
      align-items: center;
      max-width: 40vw;
      &.show-product {
        animation: animate-show-product 1s forwards;
        opacity: 0;
        animation-delay: 1s;
        height: 0;
      }

      &.hide-product {
        display: none;
      }
      & div > img {
        width: 100%;
        height: 100%;
        transform: translateY(-100px);
      }
    }
  }
}

@keyframes animate-show-product {
  0% {
    opacity: 0;
    height: 0;
  }
  20% {
    height: auto;
  }
  100% {
    height: auto;
    opacity: 1;
  }
}
