@import "../../constants";

.page-heading {
  display: none;
  flex-direction: row;
  align-items: center;
  padding: 0 48px;
  margin-top: 24px;
  align-self: stretch;
  z-index: 1;
  &.show-heading {
    animation: animate-show-heading 1s forwards;
    animation-delay: 1s;
    opacity: 0;
    display: flex;
  }
  & .search-container {
    position: relative;
    z-index: 1;
    display: inline-block;
    margin: 1em;
    max-width: 350px;
    width: calc(100% - 2em);
    vertical-align: top;
    overflow: hidden;
    padding: 8px 0;
  }
  & .brand-logo-container {
    width: 120px;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    flex: 1;
    & > img {
      width: 120px;
      object-fit: contain;
    }
    margin-right: 24px;
  }


}

@keyframes animate-show-heading {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@media all and (max-width: 780px) {
  .page-heading {
    & .brand-logo-container {
      display: none;
    }
  }
}
