@import "../../constants";

.header-container {
  height: 48px;
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
  align-self: stretch;
  padding: 0 0 0 62px;
  background-color: white;
  z-index: 2;
  border-bottom: 1px solid $PRIMARY_BORDER_COLOR;
  & .header-logo-container {
    cursor: pointer;
  }
}
