@import '../../constants';

.carousel-container {
  /* line them up horizontally */
  display: flex;

  /* allow for scrolling */
  overflow: hidden;
  position:relative;
  white-space: nowrap;
  flex-wrap: nowrap;
  align-items: flex-start;
  flex: 1;

  /* make it smooth on iOS */
  -webkit-overflow-scrolling: touch;
  z-index: 999;
  & > div {
    flex: 0 0 auto;
    -webkit-transition: all 450ms ease-in-out;
    -moz-transition: all 450ms ease-in-out;
    -o-transition: all 450ms ease-in-out;
    transition: all 450ms ease-in-out;
    -webkit-transform: translateX(100vw);
    -moz-transform: translateX(100vw);
    -o-transform: translateX(100vw);
    transform: translateX(100vw);
    cursor: pointer;
    position: relative;
    margin: 0 24px 24px;
    background-color: $PRIMARY_BACKGROUND;
    & .carousel-item-overlay {
      position: absolute;
      left: 0;
      top: 0;
      right: 0;
      bottom: 0;
      background-color: rgba(255, 255, 255, 0.64);
      opacity: 0;
      transition: opacity 450ms ease-in;
    }
    &.next-active-carousel-item, &.previous-active-carousel-item {
      & .carousel-item-overlay {
        opacity: 1;
        transition: opacity 450ms ease-in;
        &:hover {
          opacity: 0;
          transition: opacity 450ms ease-in;
        }
      }
    }
    & .carousel-image-container {
      position: relative;
      & > img {
        width: 100%;
        height: 100%;
      }
    }
    & .similar-product-name-container {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-self: stretch;
      font-size: 0.92rem;
      color: $SECONDARY_TEXT;
      padding: 12px 24px;
      &.show-title {
        animation: animate-show-title 1s forwards;
        opacity: 0;
        animation-delay: 500ms;
      }
      &.hide-title {
        opacity: 0;
      }
    }
  }
}

@media all and (max-width: 1280px) {
  .carousel-container {
    & > div {
      margin: 24px;
    }
  }
}

@keyframes animate-show-title {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
