@import '../../constants';

.carousel-spinner-container {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.carousel-empty {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  color: $SECONDARY_TEXT;
  letter-spacing: 1px;
  text-transform: uppercase;
  font-size: 0.92rem;
}

.carousel-container {
  display: block;
  /* make it smooth on iOS */
  -webkit-overflow-scrolling: touch;
  z-index: 999;
  position: relative;
  min-height: 90%;
  overflow: hidden;

  &.show-carousel {
    animation: animate-show-carousel 1s forwards;
    opacity: 0;
    animation-delay: 1s;
    height: 0;
  }

  &.hide-carousel {
    display: none;
  }

  & > div {
    -webkit-transition: all 450ms ease-in-out;
    -moz-transition: all 450ms ease-in-out;
    -o-transition: all 450ms ease-in-out;
    transition: all 450ms ease-in-out;
    cursor: pointer;
    position: absolute;
    display: inline-block;
    top: 0;
    margin: 24px 0;
    background-color: $PRIMARY_BACKGROUND;

    .carousel-left-arrow {
      position: absolute;
      left: 12px;
      top: 30%;
    }

    .carousel-right-arrow {
      position: absolute;
      right: 12px;
      top: 30%;
    }

    & .carousel-item-overlay {
      position: absolute;
      left: 0;
      top: 0;
      right: 0;
      bottom: 0;
      background-color: rgba(255, 255, 255, 0.64);
      opacity: 0;
      transition: opacity 450ms ease-in;
    }
    &.next-active-carousel-item, &.previous-active-carousel-item {
      & .carousel-item-overlay {
        opacity: 1;
        transition: opacity 450ms ease-in;
        &:hover {
          opacity: 0;
          transition: opacity 450ms ease-in;
        }
      }
    }
    & .carousel-image-container {
      position: relative;
      overflow: hidden;
      & > img {
        width: 100%;
        height: 100%;
      }

      & .carousel-product-discount-container {
        position: absolute;
        right: -35%;
        top: 4%;
        width: 100%;
        height: 16%;
        background-color: $POSITIVE_BACKGROUND;
        text-align: center;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        transform: rotate(45deg);
        color: $TERTIARY_TEXT;
        text-shadow: 0px 0px 5px #000000;
        letter-spacing: 1px;
        font-size: calc(0.6vmax + 0.6vmin);
      }
    }
    & .item-description-carousel-container {
      display: flex;
      flex-direction: row;
      align-self: stretch;
      font-size: 0.88rem;
      color: $PRIMARY_TEXT;
      padding: 0px 24px;
      letter-spacing: 1px;
      justify-content: space-between;
      &.show-title {
        animation: animate-show-title 1s forwards;
        opacity: 0;
        animation-delay: 500ms;
      }
      &.hide-title {
        opacity: 0;
      }
      & .item-carousel-name {
        max-width: 120px;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
      }
    }


    & .action-button-container, & .sneaker-sizes-button-container {
      display: flex;
      flex-direction: column;
      margin: 24px 0;
      justify-content: center;
      align-items: center;
      position: relative;
      z-index: 1;

      & .sneaker-sizes-dropdown {
        position: absolute;
        background: $PRIMARY_BACKGROUND;
        left: 50%;
        bottom: -100px;
        transform: translateX(-50%) scale(0.48);
        width: 120px;
        overflow-y: scroll;
        z-index: 10;
        height: 240px;
        padding: 12px 0;
        & .sneaker-size-row {
          padding: 12px;
          opacity: 0;
          &:hover {
            background-color: $SECONDARY_BACKGROUND;
          }
        }

        &.open-sizes-dropdown {
          animation: animate-show-dropdown 400ms forwards;
          opacity: 0;
          & .sneaker-size-row {
            animation: animate-show-row 250ms forwards;
            animation-delay: 150ms;
          }
        }
        &.close-sizes-dropdown{
          opacity: 0;
          display: none;
          & .sneaker-size-row {
            padding: 12px;
            opacity: 0;
            &:hover {
              background-color: $SECONDARY_BACKGROUND;
            }
          }
        }
      }

      &.show-title {
        animation: animate-show-title 1s forwards;
        opacity: 0;
        animation-delay: 500ms;
      }
      &.hide-title {
        opacity: 0;
      }
    }

    & .action-button-container {
      z-index: 0;
    }

    & .similar-product-name-container {
      display: flex;
      flex-direction: row;
      align-self: stretch;
      font-size: 0.88rem;
      color: $PRIMARY_TEXT;
      padding: 12px 12px;
      letter-spacing: 1px;
      justify-content: center;
      &.show-title {
        animation: animate-show-title 1s forwards;
        opacity: 0;
        animation-delay: 500ms;
      }
      &.hide-title {
        opacity: 0;
      }
    }

    & .similar-product-title-container {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-self: stretch;
      position: absolute;
      top: 20%;
      left: 0px;
      letter-spacing: 1px;
      font-size: 0.82rem;
      color: $SECONDARY_TEXT;
      padding: 12px 12px;
      &.show-title {
        animation: animate-show-title 1s forwards;
        opacity: 0;
        animation-delay: 500ms;
      }
      &.hide-title {
        opacity: 0;
      }
    }
  }
}


@media all and (max-width: 1280px) {
  .carousel-container {
    overflow: visible;
    & > div {
      margin: 24px 0;
      .carousel-left-arrow {
        position: absolute;
        left: 55%;
        top: 15%;
      }

      .carousel-right-arrow {
        position: absolute;
        right: 55%;
        top: 15%;
      }

      & .similar-product-title-container {
        left: 50%;
        transform: translateX(-50%);
        top: 10%;
        font-size: 1.04rem;
        right: auto;
      }
    }
  }
}

@media all and (max-width: 780px) {
  .carousel-container {
    z-index: 1;
    overflow: visible;
    & > div {
      margin: 24px 0;
      & .similar-product-name-container {
        font-size: 0.82rem;
        text-align: center;
        line-height: 18px;
      }
    }
  }
}

@-webkit-keyframes animate-show-title {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
    display: block;
  }
}

@keyframes animate-show-title {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
    display: block
  }
}

@-webkit-keyframes animate-show-dropdown {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
    bottom: -55px;
    display: block;
    transform: translateX(-50%) scale(1);
  }
}

@keyframes animate-show-dropdown {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
    bottom: -55px;
    transform: translateX(-50%) scale(1);
    display: block;
  }
}

@-webkit-keyframes animate-show-row {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes animate-show-row {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-webkit-keyframes animate-show-carousel {
  0% {
    opacity: 0;
    height: 0;
  }
  20% {
    height: auto;
  }
  100% {
    height: auto;
    opacity: 1;
  }
}

@keyframes animate-show-carousel {
  0% {
    opacity: 0;
    height: 0;
  }
  20% {
    height: auto;
  }
  100% {
    height: auto;
    opacity: 1;
  }
}
