@import "../../constants";

.footer {
  position: relative;
  overflow: hidden;
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  justify-content: center;
  padding: 120px 0 60px;
  & > div {
    padding: 24px 32px;
    color: $TERTIARY_TEXT;
    z-index: 3;
    font-style: italic;
    text-shadow: 2px 2px 2px rgba(255, 255, 255, 0.12);
  }
  &:before {
    position: absolute;
    content: "";
    left: 0;
    top: 2vh;
    width: 102%;
    height: 200%;
    transform: rotate(-2deg);
    background-color: $TERTIARY_BACKGROUND;
    z-index: 2;
  }
  &:after {
    position: absolute;
    content: "";
    left: -40px;
    top: 4vh;
    width: 102%;
    height: 200%;
    transform: rotate(3deg);
    z-index: 1;
    background-color: $ORANGE_BACKGROUND;
  }
}
