@import '../../constants';

.checkout-container {
  padding: 64px;
  position: relative;
  display: flex;
  flex-direction: column;
  &:before {
    position: absolute;
    left: 0;
    top: 0;
    content: '';
    width: 100%;
    height: 100%;
    background-color: $PRIMARY_BACKGROUND;
    transform: skew(20deg);
  }

  & .checkout-inner-container {
    z-index: 1;
    & .checkout-items-container {
      display: none;
      &.show-container {
        animation: show-checkout-container 500ms forwards;
        animation-delay: 500ms;
        display: flex;
        opacity: 0;
      }

      &.hide-container {
        animation: hide-checkout-container 500ms forwards;
        opacity: 1;
      }
    }
  }
}

.checkout-nav-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  & .checkout-next-step {
    min-width: 160px;
  }
}

@-webkit-keyframes show-checkout-container {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes show-checkout-container {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
    display: block;
  }
}

@-webkit-keyframes hide-checkout-container {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    display: none;
  }
}

@keyframes hide-checkout-container {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    display: none;
  }
}
