@import '../../constants';

.checkout-container {
  padding: 64px;
  position: relative;
  display: flex;
  flex-direction: column;
  min-width: 720px;
  min-height: 85vh;
  justify-content: space-between;
  &:before {
    position: absolute;
    left: -20%;
    top: 0;
    content: '';
    width: 120%;
    height: 100%;
    background-color: $PRIMARY_BACKGROUND;
    transform: skew(20deg);
  }

  & .checkout-inner-container {
    z-index: 1;
    display: flex;
    flex-direction: column;
    flex: 1;
    justify-content: center;
    & .checkout-items-container {
      flex-direction: column;
      flex: 1;
      display: flex;
      padding: 24px 32px;
      margin-bottom: 64px;
      &.show-container {
        animation: show-checkout-container 500ms forwards;
        animation-delay: 500ms;
        display: flex;
        opacity: 0;
      }

      &.hide-container {
        animation: hide-checkout-container 500ms forwards;
        opacity: 1;
        display: none;
      }

      & .step-auth-container {
        max-width: 450px;
        width: 100%;
        align-self: center;
        display: flex;
        flex: 1;
        align-items: center;
      }

      & .checkout-items-container-title {
        font-size: 1.6rem;
        margin: 12px 0 24px 0;
        padding: 8px 16px;
        letter-spacing: 1px;
        border-bottom: 4px solid $SECONDARY_BORDER_COLOR
      }

      & .checkout-items-header {
        display: flex;
        flex-direction: row;
        align-items: center;
        padding: 0 12px 12px;
        border-bottom: 1px solid $PRIMARY_BORDER_COLOR;
        margin-bottom: 24px;

        & > div {
          padding: 0 6px;
          letter-spacing: 1px;
          font-size: 0.98rem;
        }
      }

      & .checkout-bag-item-row {
        display: flex;
        flex-direction: row;
        align-items: center;
        padding: 0 12px;
        &:hover {
          background-color: $SECONDARY_BACKGROUND;
          transition: all 250ms ease-in;
          cursor: pointer;
        }

        & > div {
          padding: 8px 6px;
          font-size: 0.92rem;
        }

      }
      & .checkout-name-col {
        flex: 1;
      }

      & .checkout-description-col {
        flex: 3;
      }

      & .checkout-size-col {
        flex: 1;
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
      }

      & .checkout-price-col {
        flex: 2;
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
      }

      & .checkout-remove-col {
        flex: 1;
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
        & .remove-bag-item {
          &:hover > svg {
            & > path {
              &:last-child {
                fill: rgba(0, 0, 0, 0.84);
              }
            }
          }
        }
      }

      & .checkout-bag-total-row {
        display: flex;
        flex-direction: row;
        align-items: center;
        padding: 0 12px;
        margin-top: 24px;
        border-top: 1px solid $PRIMARY_BORDER_COLOR;

        & > div {
          letter-spacing: 1px;
          padding: 8px 4px;
        }
        & .checkout-bag-total-title {
          flex: 5;
        }

        & .checkout-bag-total {
          flex: 2;
          display: flex;
          flex-direction: row;
          justify-content: flex-end;
        }
        & .checkout-bag-empty {
          flex: 1;
        }
      }
    }
  }
}

.checkout-nav-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  position: relative;
  & .checkout-next-step {
    min-width: 160px;
  }
}

@-webkit-keyframes show-checkout-container {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes show-checkout-container {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
    display: block;
  }
}

@-webkit-keyframes hide-checkout-container {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    display: none;
  }
}

@keyframes hide-checkout-container {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    display: none;
  }
}
