$PRIMARY_BACKGROUND: #fff;
$SECONDARY_BACKGROUND: #1A172F;
$TERTIARY_BACKGROUND: #2C2444;

$PRIMARY_TEXT: #f8f8f8;
$SECONDARY_TEXT: #fb6b40;
$TERTIARY_TEXT: #aa9af0;

$PRIMARY_BORDER_COLOR: #080A1E;

$ACTIVE: #fb6b40;
$POSITIVE: #10F1D1; // e,g, positive numbers i graph, done or successfull status etc
$UNDETERMINED: #ffd466; // e,g, processing status
$NEGATIVE: #fb565f; // e,g, negative numbers i graph, failed status etc
