$PRIMARY_BACKGROUND: #fff;
$SECONDARY_BACKGROUND: #fafafafa;
$TERTIARY_BACKGROUND: rgba(170, 154, 240,0.82);
$ORANGE_BACKGROUND: rgba(251, 107, 64, 0.42);

$PRIMARY_BUTTON_BACKGROUND: #3f51b5;
$SECONDARY_BUTTON_BACKGROUND: #7986cb;

$PRIMARY_TEXT: #000;
$SECONDARY_TEXT: rgb(141, 141, 141);
$TERTIARY_TEXT: #f8f8f8;

$NEGATIVE_TEXT: #fb565f;

$ALTERNATIVE_TEXT: #3f51b5;

$PRIMARY_BORDER_COLOR: #d6d6d6;
$SECONDARY_BORDER_COLOR: hsl(200, 100%, 50%);
$TERTIARY_BORDER_COLOR: hsl(160, 100%, 50%);
$QUATERNARY_BORDER_COLOR: hsl(20, 100%, 50%);

